html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-color: white;
    margin: 0 0 0 0;
}

h2 {
    margin: 0 0 0 0;
}

header h1 {
    margin: 0 0 0 0;
    line-height: 2em;
    padding-left: 1em;
}

p {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    font-family: "Roboto Condensed";
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.c-todo-container {
    display: inline-block;
    width: 89%;
    margin-left: 11%
}

.c-todo-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.3em;
    justify-content: center;
}

.c-todo-card {
    background-color: white;
    width: 25em;
    min-height: 15em;
    margin: 0.5em 0.5em 0.5em;
    padding: 0.8em;
    border-top: 0.2em solid steelblue;
}

.t-box-shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.o-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-todo-list {
    padding: 0;
    margin-left: 1.5em;
}

.c-project-container {
    width: 10%;
    min-width: 10em;
    height: 92%;
    margin: 0.5em;
    padding: 0.8em;
    position: absolute;
    background-color: white;
    display: inline-block
}

.c-project-list {
    padding: 1em
}