html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-color: white;
    margin: 0 0 0 0;
}

header h1 {
    margin: 0 0 0 0;
    line-height: 2em;
    padding-left: 1em;
}

p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 2.0em
}

body {
    background-color: ghostwhite;
    font-family: "Roboto Condensed";
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.c-todo-container {
    display: inline-block;
    width: 89%;
    margin-left: 13em
}

.c-todo-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.3em;
    justify-content: center;
}

.c-todo-card {
    background-color: white;
    width: 25em;
    min-height: 15em;
    margin: 0.5em 0.5em 0.5em;
    padding: 0.8em;
    border-top: 0.2em solid steelblue;
}

.t-box-shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.o-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-todo-list {
    padding: 0;
    margin-left: 1.5em;
}

.c-project-container {
    width: 13em;
    height: 56em;
    margin: 0.5em 0.5em 0 0.5em;
    padding: 0.8em;
    position: absolute;
    background-color: white;
    display: inline-block
}

.c-project-list {
    padding: 0.5em;
    height: 96.5%
}

.c-project-list__item {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 0.5em 0;
    padding: 0.3em;
    cursor: pointer;
    border-left: 0.2em solid deepskyblue;
}

.c-project-list__item:hover {
    border-left: 0.2em solid midnightblue;
}

.c-button-add-project {
 width: 100%;
 line-height: 2em;   
 border-radius: 0;
}

.c-button-add-project:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}