<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Code Todo
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700,400|Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/main.css" />
</head>

<body>
    <header class="t-box-shadow">
        <h1>Project's Todo's</h1>
    </header>
    <nav class="c-project-container t-box-shadow">
        <ul class="c-project-list o-list-unstyled">
            <li x-data-path="c:/desenv/highland/" class="c-project-list__item" onclick="run(event)"> Highland </li>
            <li x-data-path="c:/desenv/loja-concept/" class="c-project-list__item" onclick="run(event)"> Loja Concept </li>
            <li x-data-path="c:/desenv/JSGoodParts/" class="c-project-list__item" onclick="run(event)"> Projects Todos </li>
        </ul>
        <button class="c-button-add-project o-fix-to-bottom"><i class="fa fa-plus"></i> Add
        </button>
    </nav>
    <div class="c-todo-container">
        <div class="c-todo-panel">
        </div>
    </div>
    <script src="./../run.js"></script>
</body>

</html>