<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Code Todo
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700,400|Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/main.css" />
</head>

<body>
    <header class="t-box-shadow">
        <h1>Project's Todo's</h1>
    </header>
    <nav class="c-project-container t-box-shadow">
        <ul class="c-project-list o-list-unstyled">
        </ul>
        <button class="c-button-add-project o-fix-to-bottom o-default-button" onclick="add.toggleDialog(event)"><i class="fa fa-plus"></i> Add
        </button>
    </nav>
    <div class="c-add-box t-box-shadow is-hidden">
        <h2 class="c-add-box__title">Informações do Projeto</h2>
        <label for="nome" class="c-add-box_label">Nome </label>
        <input id="nome" class="c-add-box_input" type="text">
        <br />
        <br />
        <label for="directory" class="c-add-box_label">Diretório </label>
        <br />
        <input id="directory" class="c-add-box_input--80" type="text" accept="dir" disabled>
        <button class="o-default-button c-add-box__browse-button" onclick="add.openFile()">BROWSE</button>

        <div class="c-add-box__controls">
            <div class="c-add-box__buttons">
                <button class="o-default-button c-add-box__button" onclick="add.ok(event)"> OK </button>
                <button class="o-default-button c-add-box__button" onclick="add.cancel(event)"> CANCEL </button>
            </div>
        </div>
    </div>
    <div class="c-todo-container">
        <div class="c-todo-panel">
        </div>
    </div>
    <script src="./../run.js "></script>
    <script src="./../add.js "></script>
</body>

</html>